
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Przyjęcie sylwestrowe</title>
</head>
<body>
    <div> 
        @ViewBag.Greeting, Kolego!
        <p>Zapraszamy na wspaniałe przyjęcie.<br />
        (Do zrobienia: Trzeba to ulepszyć, dodać zdjęcia i inne takie)
        </p>
    </div>
</body>
</html>
